{% extends "base.html" %}

{% block banner %}
<section id="banner">
  <header>
    <h2></h2>
    <h2 style="
    font-size: 100px;
">PyConKE!</h2>
    <p class="icon fa-calendar" style="
    color: white;
">&nbsp;
      28<sup>th</sup> to 29<sup>th</sup> of September 2017 &nbsp;
    </p>
    <p class="icon fa-map-marker" style="
    color: white;
">&nbsp;
      <a href="http://www.usiu.ac.ke/study/grades-registration/academic-calendar/icalrepeat.detail/2017/09/28/239/98%7C99%7C100/pycon-conference" target="_blank" style="
    color: white;
">USIU Africa</a>
    </p>
    <p style="icon fa-ticket">&nbsp;
      <a href="https://mymookh.com/tickets/event/435" target="_blank" class="button" style="
    padding: 0.2em 1.5em;
    margin-top: .3em;
">Grab your tickets here</a>
    </p>
  </header>
</section>
{% endblock banner %}


{% block intro %}
<!-- Intro -->
<section id="intro" class="container">
  <header class="major">
    <h2 class="icon fa-info-circle"></h2>
  </header>
  <div class="row">
    <div class="12u 12u(mobile)">
      {{ DESCRIPTION }}
      <br><br>
    </div>
  </div>
  <div class="row">
    <div class="12u 12u(mobile)">
      <h3>Topics featuring in the event...</h3>
    </div>
    {% for icon, title, description in TOPICS %}
      <div class="4u 12u(mobile)">
        <section>
          <i class="icon featured {{ icon }}"></i>
          <header>
            <h2>{{ title }}</h2>
          </header>
          <p>{{ description }}</p>
        </section>
      </div>
    {% endfor %}
  </div>
  <footer>
    <ul class="actions">
      <li><a href="schedule" class="button big">... and then some</a></li>
    </ul>
  </footer>
</section>
{% endblock intro %}

{% block content %}

    <!-- sponsors -->
    <section id="sponsors">
      <header class="major">
        <h2 class="icon fa-money"> Our awesome (and growing) grid of sponsors:-</h2>
      </header>
      <div class="row" id="tier1">
        <br>
        <div class="4u 8u(mobile)">
          <section>
            <a href="https://jumo.world" class="image featured" target="_blank">
              <img src="images/jumo.png" alt="Jumo World">
            </a>
          </section>
        </div>
        <div class="4u 8u(mobile)">
          <section>
            <a href="https://usiu.ac.ke" class="image featured" target="_blank">
              <img src="images/usiu.png" alt="Jumo World">
            </a>
          </section>
        </div>
        <div class="4u 8u(mobile)">
          <section>
            <a href="https://ona.io" class="image featured" target="_blank">
              <img src="images/ona.png" alt="ONA">
            </a>
          </section>
        </div>
      </div>
      <!-- div class="row" id="tier2">
        <div class="3u 4u(mobile)">
          <section>
            <a href="#" class="image featured" target="_blank">
              <img src="">
            </a>
          </section>
        </div>
        <div class="3u 4u(mobile)">
          <section>
            <a href="#" class="image featured" target="_blank">
              <img src="">
            </a>
          </section>
        </div>
        <div class="3u 4u(mobile)">
          <section>
            <a href="#" class="image featured" target="_blank">
              <img src="">
            </a>
          </section>
        </div>
        <div class="3u 4u(mobile)">
          <section>
            <a href="#" class="image featured" target="_blank">
              <img src="">
            </a>
          </section>
        </div>
      </div-->
    </section>

    <!-- organizers -->
    <section id="organizers">
      <header class="major">
        <h2 class="icon fa-cogs"> And the folks behind this event :-</h2>
      </header>
      <div class="row">
        <div class="6u 12u(mobile)">
          <section>
            <a href="http://meetup.com/Python-Nairobi" class="image featured" target="_blank">
              <img src="images/pynbo.jpg" alt="Python Nairobi">
            </a>
          </section>
        </div>
        <div class="6u 12u(mobile)">
          <section>
            <a href="http://tunapanda.org" class="image featured" target="_blank">
              <img src="images/tunapanda.jpg" alt="Tunapanda Institute">
            </a>
          </section>
        </div>
      </div>
    </section>
  </div>
</div>
</div>
{% endblock content %}

{% block footerleft %}
<!-- articles -->
<div class="12u">
  <section>
    <header>
      <h2 id="developments" name="developments">Recent Developments</h2>
    </header>
    <ul class="dates">
      {% for article in articles_page.object_list %}
      <li>
        <span class="date">
          {{ article.date|strftime('%d') }}<strong>{{ article.date|strftime('%b') }}</strong>
        </span>
        <h3>
          <a href="/{{ article.url }}" title="Permalink to {{ article.title|striptags }}" target="_blank">{{ article.title }}</a>
        </h3>
        <p>{{ article.summary }}</p>
      </li>
      {% endfor %}
    </ul>
  </section>
</div>
{% endblock footerleft %}
