{% extends "base.html" %}

{% block banner %}
<section id="banner">
  <header>
    <h2>Something good</h2>
    <h2>For all Py-Kind!</h2>
    <p>(is in the works)</p>
  </header>
</section>
{% endblock banner %}


{% block intro %}
<!-- Intro -->
<section id="intro" class="container">
  <header class="major">
    <h2>Event Content</h2>
  </header>
  <div class="row">
    <div class="12u 12u(mobile)">
      PyConKe will be the first in a series of anual gatherings of software developers,
      techies, business people, startups, learning institutions, students and other
      organizations and individuals that use or otherwise have an interest/stake in
      the Python programming language and its ecosystem.
      <br><br>
      <h3>Topics featuring in the event...</h3>
    </div>
  </div>
  <div class="row">
    <div class="4u 12u(mobile)">
      <section class="first">
        <i class="icon featured fa-globe"></i>
        <header>
          <h2>Web, Music &amp; Animation</h2>
        </header>
        <p>
          Pythonic web frameworks, scripting in animation with Blender
          and coding music in Py with sonicpi. Plenty of talks and tutorials
          on these to get you started.
        </p>
      </section>
    </div>
    <div class="4u 12u(mobile)">
      <section class="middle">
        <i class="icon featured alt fa-bar-chart-o"></i>
        <header>
          <h2>Data Science &amp; AI</h2>
        </header>
        <p>
          Stats crunching with Pandas &amp; co. and ML with with tools like Tensorflow.
          Come partake in some pythonic stats &amp; AI
          (just don't let what you subsequently create become self aware).
        </p>
      </section>
    </div>
    <div class="4u 12u(mobile)">
      <section class="last">
        <i class="icon featured alt2 fa fa-microchip"></i>
        <header>
          <h2>Internet of Things</h2>
        </header>
        <p>
          Python in my IoT? It's more likely than you think! Feauted at the conference
          will be talks and presentations on (micro)python on assorted hardware
          with example applications.
        </p>
      </section>
    </div>
  </div>
  <footer>
    <ul class="actions">
      <li><a href="schedule" class="button big">... and then some</a></li>
    </ul>
  </footer>
</section>
{% endblock intro %}

{% block content %}
<!-- Pre-Kids Tracks -->

<div class="row">
  <div class="12u">

    <!-- Blog -->
    <section>
      <header class="major">
        <h2>Pre-Event Kids' tech workshops</h2>
        <p>
          It's never too early for kids to get into tech, and for young people to become
          teachers. This conference isn't just about those of us who are already into tech,
          but about lighting a spark in the future generation.
        </p>
        <p>
          In the leadup to the conference, there will be 3 full day kids workshop events,
          events teaching kids digital era skills featuring.....
        </p>
      </header>
      <div class="row">
        <div class="6u 12u(mobile)">
          <section class="box">
            <a href="#" class="image featured"><img src="images/pkw01.jpg" alt=""></a>
            <header>
              <h3>Music with Sonicpi ..and some Py ;) </h3>
            </header>
            <p>
              SonicPi (with Python bindings) enables the young ones to learn to code while
              making music. Our partner trainers have experience setting up and running training
              programs for kids of all ages in places ranging from Kibera to Turkana, and will
              even digitize the curricula we develop to spread the learning further.
            </p>
          </section>
        </div>
        <div class="6u 12u(mobile)">
          <section class="box">
            <a href="#" class="image featured"><img src="images/pkw02.jpg" alt=""></a>
            <header>
              <h3>Robotics & Internet of Things with microPython</h3>
            </header>
            <p>
              Learning to code by controlling real-world objects is exciting and
              can help develop a passion for computer programming using Python.
              During the lead up to the conference, we will also be starting them
              off early into STEM by teaching them how to control robotic arms and
              tracked vehicles plus other entry level electronics concepts.
            </p>
          </section>
        </div>
        <!--div>
          <ul class="actions">
            <li><a href="#" class="button icon fa-file-text">Volunteer</a></li>
          </ul>
        </div-->
      </div>
    </section>

  </div>
</div>
</div>
{% endblock content %}

{% block footerleft %}
<!-- articles -->
<div class="8u 12u(mobile)">
  <section>
    <header>
      <h2>Recent Developments</h2>
    </header>
    <ul class="dates">
      {% for article in articles_page.object_list %}
      <li>
        <span class="date">
          {{ article.date|strftime('%d') }}<strong>{{ article.date|strftime('%b') }}</strong>
        </span>
        <h3>
          <a href="/{{ article.url }}" title="Permalink to {{ article.title|striptags }}" target="_blank">{{ article.title }}</a>
        </h3>
        <p>{{ article.summary }}</p>
      </li>
      {% endfor %}
    </ul>
  </section>
</div>
{% endblock footerleft %}
